@font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-Italic.ttf") format("truetype");
    font-style: italic;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
    font-weight: 300;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed"),
     url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
  }
@media screen and (orientation: portrait) {
    .bookmaker-market .box-6 {
        width: 52%;
        min-width: 52%;
        max-width: 52%;
    }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    /* Primebook Mobile CSS */
    /* .main-market {
        display: flex;
    } */
    .fancy-bet>h5, .bets-wrap>h4, .fancy-bet>h4, .sports-book>h4, .bets-bookmaker>h4 {
        font-size: 13px;
        margin-top: 4px;
    }
    /* Primebook Mobile CSS End */
    .full-market-tabs-mobile.nav-tabs {
        width: 100%;
        margin: auto;
    }
    .full-market-tabs-mobile.nav-tabs li.nav-item a {
        background-color: transparent;
    }
    ul.mobile-navbar-first.nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        background-color: var(--theme1-bg);
        border-radius: 0;
        border-bottom: 0;
        box-shadow: 0px -5px 5px -5px rgb(0 0 0 / 50%);
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 0;
    }
    .home-whole-cont {
        max-width: 100%;
        padding: 0;
    }
    ul.mobile-navbar-first.nav-tabs .nav-item.show .nav-link, ul.mobile-navbar-first.nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    ul.mobile-navbar-first.nav-tabs .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
    ul.mobile-navbar-first.nav-tabs .nav-item {
        margin-bottom: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    ul.mobile-navbar-first.nav-tabs .nav-item.show .nav-link, ul.mobile-navbar-first.nav-tabs .nav-link.active {
        background-color: transparent;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        color: var(--primary-color);
        position: relative;
    }
    ul.mobile-navbar-first.nav-tabs .nav-link {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 100%;
        border-right: 1px solid var(--primary-color) !important;
        background-color: transparent;
    }
    .nav-tabs .nav-link {
        color: var(--primary-color);
        white-space: nowrap;
        text-transform: uppercase;
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid var(--primary-color);
        font-size: 12px;
        font-weight: bold;
    }
    ul.mobile-navbar-first.nav-tabs .nav-item.show .nav-link::after, ul.mobile-navbar-first.nav-tabs .nav-link.active::after {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--light-bg);
        top: -12px;
        content: "";
        left: 0;
    }
    .nav-tabs .nav-item:last-child .nav-link {
        border-right: 0;
    }
}
@media (max-width: 600px) and (min-width: 200px) {
     :root {
        --darkblue: #273e4e;
        --white: #ffffff;
    }
    .login-index .MuiButton-label {
        width: auto;
    }
    html,
    body {
        font-family: "RobotoCondensed";
        font-size: 12px;
        color: var(--site-color);
    }
    .home-tabs-cont {
        padding-bottom: 0;
    }
    
    #root {
        overflow-x: hidden;
    }
    .all-list-container .game-icons {
        width: auto;
        float: unset;
        text-align: center;
    }
    .all-list-container .game-icon {
        width: 20px;
        text-align: center;
        display: inline-block;
    }
    .active-icon {
        background-color: #97cc00;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        display: inline-block;
    }
    .dashboard>div {
        margin-top: 0;
        width: 98% !important;
    }
    /* InPlay Header CSS */
    #root .headerInplay {
        background-color: #172832 !important;
        width: 100% !important;
        border: none;
        margin: 0;
        border-radius: 0;
    }
    .headerInplay > .MuiTabs-flexContainer {
        border: 1px solid #fff;
        border-radius: 0px;
    }
    /* InPlay Header CSS End */
    /* Login Buttons CSS */

    header .login-index, header .btn-signup {
        width: 28.8vw;
        height: 8.53333vw;
        border: 0.26667vw solid #710b0b;
        box-shadow: inset 0 0.26667vw 0 0 rgb(255 255 255 / 50%);
        line-height: 8.53333vw;
        padding: 0;
        color: #fff;
        border-radius: 1.06667vw;
        margin-top: 0.26667vw;
        position: relative;
        top: -3px;
    }
    header .btn-signup {
        display: none;
        width: 20vw;
        margin-right: 1.06667vw;
        background-image: linear-gradient(
    -180deg, #666 0%, #333 100%);
        border-color: #000;
    }
    header button.btn-signup {
        border-color: #000;
        color: #ffb80c;
        background-color: rgba(51,51,51,0.4);
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
        display: flex;
        margin-top: 0;
    }
    header .login-index {
        color: #fff;
        background-image: linear-gradient(
            -180deg, #f72424 0%, #bb1c00 100%);
            display: flex;
        margin-left: 0;
        margin-top: 0;
    }
    header {
        padding: 2.66667vw 1.86667vw 2.66667vw 1.86667vw;
    }
    header .login-index:before {
        content: "";
        width: 6.53333vw;
        height: 4.53333vw;
        background: url(../images/userimage.svg) no-repeat;
        margin-right: 0;
        vertical-align: top;
        background-size: contain;
        background-position: center;
        /* text-align: right; */
    }
    
    /*Login Button CSS End*/

    .xs-none {
        display: none !important;
    }
    .md-none,
    .xs-sport-tab {
        display: block !important;
    }
    .md-tbl-none {
        display: table-header-group !important;
    }
    .xp-0 {
        padding: 0 !important;
    }
    .mb-footer {
        margin-bottom: 70px;
    }
    .prx-4 {
        padding-right: 4px !important;
    }
    .plx-4 {
        padding-left: 4px !important;
    }
    .dashboard>div.dashborad-slider {
        width: 100% !important;
        margin: 0;
        border-top: 1px solid #000;
    }
    /* Login Start */
    .header>header>div {
        min-height: auto;
        padding: 0 !important;
    }
    .right-login {
        margin: 0;
        padding-right: 12px;
    }
    .login-header {
        text-align: center;
        display: flex;
        align-items: center;
        flex-flow: column;
        bottom: 30px;
        justify-content: flex-end;
    }
    .login-header img {
        width: 230px;
        margin: 0 auto;
    }
    .login-header p {
        margin: 0;
        color: #fff;
        font-size: 9.2px;
    }
    .login-header>div {
        width: 100px;
        margin-top: 28px;
        margin-bottom: 8px;
        opacity: 0.5;
    }
    .login-header>div>img {
        width: 100%;
    }
    .login-form {
        width: 84%;
        margin: 36px auto 0;
    }
    .login-form input {
        border: 1px solid #666 !important;
    }
    .validation-input img {
        position: absolute;
        width: 55px;
        right: 4px;
        top: 40%;
        transform: translate(0px, -50%);
    }
    .footer-links {
        width: 100vw;
        margin: 3.2vw auto 8vw;
        font-size: 12px;
        text-align: center;
        padding: 0 1.86667vw;
    }
    .footer-links a:first-child {
        border: none;
        padding-left: 0;
    }
    .footer-links a {
        text-decoration: underline;
        margin-bottom: 1.33333vw;
        display: inline-block;
    }
    .footer-links a:first-child:before {
        margin: 0;
        content: "";
    }
    .footer-links a:before {
        margin: 0 0.4vw;
        content: "|";
    }
    .footer-bottom {
        margin: 6.4vw auto 8vw;
        margin-bottom: 70px;
    }
    .social {
        background: #ffffff80;
    }
    .social .MuiTabs-root button {
        padding: 6px
    }
    .xs-down-app {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .xs-down-app>div:first-child {
        margin-right: 2.66667vw;
        margin-bottom: 2.66667vw;
    }
    .xs-down-app p {
        text-align: left;
        margin: 0 !important;
        font-size: 2.66667vw;
    }
    .tab-description>div {
        padding: 3.46667vw 0 2.66667vw;
    }
    .tab-description>div p {
        font-size: 11.9px;
    }
    .xs-down-app>div:first-child>div {
        background: #ffffff4d;
        border: 1px solid #0000004d;
        padding: 0.8vw 1.86667vw 1.6vw;
        border-radius: 2.13333vw;
        color: #00000080;
        height: 8.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .xs-down-app img {
        width: 140px;
    }
    .xs-down-app .bet-img {
        width: 26.66667vw;
        height: 4.26667vw;
        opacity: 0.5;
    }
    .login-social button {
        padding: 6px 6px;
    }
    .login-social .tab-description>div a {
        display: block;
        color: #efefef;
        padding: 4px 8px;
        font-size: 12px;
    }
    .login-social {
        background: #00000099;
    }
    .login-social .MuiTab-textColorPrimary {
        color: #999999;
    }
    .login-social .MuiTab-textColorPrimary.Mui-selected {
        color: #efefef;
    }
    .login-social .MuiTab-textColorPrimary.Mui-selected::after {
        content: '';
        position: absolute;
        top: 100%;
        height: 2.66667vw;
        background-image: url(https://bxawscf.skyexchange.com/images/mobile/support_arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: initial;
        pointer-events: none;
    }
    .login-close {
        position: fixed;
        right: 1.86667vw;
        justify-content: center;
        align-items: center;
        width: 9.33333vw;
        height: 9.33333vw;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        margin-top: 1.86667vw;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-close svg {
        color: #fff;
    }
    /* Login End */
    /* Header */
    .logo {
        width: 33.8vw;
    }
    .bottom-nav {
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
    }
    .bottom-nav a {
        width: 100%;
    }
    .bottom-nav button {
        background-image: linear-gradient(-180deg, #243A48 20%, #172732 91%);
        color: #ffffff !important;
        border: 0;
        min-width: 20vw;
        padding: 1.86667vw 2.66667vw 0;
        width: 100%;
        min-height: 13.33333vw;
        align-items: flex-start;
        top: -1px;
    }
    .bottom-nav button.Mui-selected {
        background: linear-gradient(-180deg, #32617F 20%, #1F4258 91%);
    }
    .bottom-nav>div {
        height: 46px;
    }
    .bottom-nav button.home img {
        width: 8.53333vw;
        height: 8vw;
        margin: -2.13333vw auto 0vw;
    }
    .bottom-nav button.sportlable img {
        width: 5.86667vw;
        height: 4.8vw;
    }
    .bottom-nav button img {
        width: 5.53333vw;
        height: 5.53333vw;
    }
    .bottom-nav button .MuiBottomNavigationAction-label {
        font-size: 3.2vw;
        padding-top: 1px;
        opacity: 1;
    }
    .bottom-nav button.home .MuiBottomNavigationAction-label {
        margin-top: 0px;
    }
    .bottom-nav .home.Mui-selected::before {
        background-image: url('../images/home-menu.svg');
    }
    .bottom-nav button.home::before {
        content: '';
        position: absolute;
        top: -4.26667vw;
        width: 100%;
        height: 4.53333vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: -1;
        background-image: url('../images/home-menu-dark.svg');
    }
    .news-section {
        background-image: linear-gradient(-180deg, #2F424D 0%, #141E21 100%);
        height: 6.66667vw;
        display: flex;
        align-items: center;
    }
    .news-section h4 {
        font-size: 12px;
        margin: 0;
        color: #ffffff;
        position: relative;
        z-index: 9;
        display: flex;
        flex-basis: 19.2vw;
        align-items: center;
        justify-content: center;
        height: 6.66667vw;
    }
    .news-section>div {
        width: 78%;
        overflow: hidden;
    }
    .news-section img {
        vertical-align: middle;
        width: 4.53333vw;
        height: 4.53333vw;
        margin-right: 0.53333vw;
    }
    .news-section h4::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 2;
        width: 1.2994vmax;
/*        height: 3.74813vmax;*/
        height: 100%;
        right: -1.04948vmax;
        background-image: url('../images/right-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0;
    }
    .news-section .marquee-container,
    .news-section .marquee-container>div,
    .news-section .marquee-container a {
        --gradient-color: linear-gradient(-180deg, #2F424D 0%, #141E21 100%) !important;
        color: #6AC2FF;
        font-size: 3.46667vw;
        font-weight: bold;
        padding-right: 16px;
    }
    .news-section .marquee-container a span {
        line-height: 4vw;
        height: 4vw;
        font-style: italic;
        font-size: 2.93333vw;
        font-weight: normal;
        color: #1C2834;
        background-color: #6AC2FF;
        border-radius: 0.53333vw;
        padding: 0 1.33333vw;
        margin-right: 1.33333vw;
    }
    .news-modal {
        background: #fff;
        width: 92%;
        border-radius: 6px;
    }
    .news-head {
        background: #222;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .news-head>h5 {
        font-size: 14px;
        color: #FFB80C;
        margin: 0;
        padding-left: 8px;
        line-height: 2.4;
    }
    .news-head a {
        color: #FFB80C;
        padding: 0 2.46667vw;
        line-height: 2.4;
        border-left: 1px solid #BE7809;
        min-height: 34px;
        display: flex;
        align-items: center;
    }
    .news-head svg {
        font-size: 14px;
    }
    .news-body {
        padding: 4.26667vw 3.46667vw;
        max-height: 200px;
        overflow-y: auto;
    }
    .news-block {
        padding-bottom: 6.66667vw;
        padding-top: 4.66667vw;
        border-bottom: 1px solid #E0E6E6;
    }
    .news-date {
        width: 18.66667vw;
        margin-bottom: 4.26667vw;
        border-top: 1.06667vw solid #4A4A4A;
        padding-top: 1.06667vw;
        color: #4A4A4A;
        display: flex;
    }
    .news-date>span {
        font-size: 8vw;
        line-height: 8.53333vw;
    }
    span.inner-date {
        display: flex;
        flex-direction: column;
        font-size: 3.73333vw;
        line-height: 1.2;
        padding-left: 4px;
        text-align: center;
    }
    .news-block p {
        margin-top: 0;
        font-size: 14px;
        letter-spacing: .6px;
    }
    .news-footer ul {
        display: flex;
        justify-content: center;
        margin: 2.66667vw 0;
        padding: 0
    }
    .news-footer ul.pages li {
        list-style: none;
        margin-right: 0.8vw;
        margin-left: 0.8vw;
    }
    .pages a {
        font-weight: normal;
        margin: 0;
        line-height: 9.33333vw;
        padding: 1.6vw 3.2vw;
        border: 1px solid #aaa;
        border-radius: 1.6vw;
        font-size: 4vw;
    }
    .pages a.disable {
        background: #dfdfdf;
        color: #999;
        cursor: not-allowed;
    }
    .pages a.select {
        background: #444;
        border-color: #000;
        color: #FFB80C;
    }
    /* Simple Menu */
    button.xs-expo-btn {
        display: inline-block;
        font-size: 11px;
        padding: 0.0vw 1.66667vw 0 1.86667vw;
        width: 85%;
        height: 9.59vw;
        line-height: 3.2vw;
    }
    button.xs-expo-btn>span.MuiButton-label {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .main-balance-btn button.xs-expo-btn strong {
        font-size: 9.2px;
        margin: 0;
    }
    button.xs-expo-btn div {
        line-height: 1.4;
        text-align: left;
        font-size: 9.2px;
    }
    button.xs-expo-btn>span>div>span {
        opacity: .7;
    }
    button.xs-expo-btn div.nums {
        position: absolute;
        top: 2.4vw;
        right: 1.86667vw;
        height: 3.73333vw;
        font-size: 2.93333vw;
        line-height: 3.73333vw;
        border: 0.26667vw solid rgba(0, 0, 0, 0.3);
        border-radius: 0.8vw;
        padding: 0 2.13333vw;
        border-color: #FFB80C;
    }
    .main-balance-btn .refresh-btn {
        height: 9.59vw;
        padding: 0 6px;
        width: 15%;
        background: rgba(51, 51, 51, 0.4);
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    }
    .main-balance-btn .refresh-btn svg {
        font-size: 22px;
    }
    .xs-setting>svg {
        font-size: 22px;
    }
    .xs-setting,
    .xs-bets {
        color: #FFB80C;
        background-color: rgba(51, 51, 51, 0.4);
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
        height: 5.86667vw;
        line-height: 5.33333vw;
        font-weight: bold;
        border: 0.26667vw solid #000;
        border-radius: 1.06667vw;
        padding: 1.6vw 0.86667vw;
        text-align: center;
    }
    .xs-bets img {
        background: url('../images/betcoin.svg') no-repeat;
        width: 5.33333vw;
        height: 5.5667vw;
        margin-right: 1.33333vw;
        vertical-align: middle;
        background-size: contain;
    }
    .xs-bets {
        border-color: #000;
        box-shadow: inset 0 0.26667vw 0 0 rgb(255 255 255 / 40%);
    }
    .xs-bets a {
        color: #FFB80C;
        font-weight: bold;
        font-size: 12px;
    }
    .sport-blocks .MuiGrid-spacing-xs-2>.MuiGrid-item {
        padding: 10px;
        padding-top: 0;
        padding-bottom: 8px;
    }
    .header >header {
        padding-top: 5px;
        padding-bottom: 0;
    }
    .header.logged-inn header {
        padding-bottom: 5px;
    }
    header>div {
        display: inline-block;
        padding: 0 4px !important;
        justify-content: space-between;
    }
    .xs-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .xs-header>.xs-bets {
        width: 40%;
        min-width: 18.23333vw;
        max-width: 27.23333vw;
        vertical-align: middle;
        text-align: center;
        margin: 0;
        margin-left: -1px;
        margin-right: 1.03333vw;
        height: 5.86667vw;
        line-height: 5.86667vw;
    }
    .xs-header>.xs-sett {
        max-width: 32px;
        width: 20%;
    }
    .xs-header>div {
        width: 100%;
        flex: 1 1 auto;
        margin: 0 5px;
    }
    /* ---- */
    .live-count {
        width: 20.2%;
        padding: 1.33333vw;
    }
    .live-count .live span {
        line-height: 1.4;
        height: 4.26667vw;
        padding: 0 0.8vw;
        border-radius: 0.8vw 0 0 0.8vw;
    }
    .live-count .live {
        margin-bottom: 1.6vw;
        height: 4.26667vw;
        line-height: 4.26667vw;
    }
    .live-count .sport-count span:first-child {
        line-height: 13px;
    }
    .live-count .sport-count {
        margin-bottom: 1.06667vw;
        font-size: 2.66667vw;
        line-height: 3.73333vw;
    }
    .live-count .sport-count .show-number {
        padding: 0;
        min-width: 3.73333vw;
        height: 3.73333vw;
        line-height: 3.73333vw;
        font-size: 2.66667vw;
    }
    .sport-block {
        max-height: 128px;
    }
    .sport-block>a {
        display: inline-block;
    }
    .sport-block .bottom-title {
        bottom: -1px;
        border-bottom: 1.12vw solid #FFB80C;
    }
    .sport-block .bottom-title .title {
        line-height: 6.4vw;
        flex: 1;
        text-indent: 1.33333vw;
        color: #fff;
        font-weight: bold;
    }
    .sport-block .bottom-title .play-now::before {
        width: 7.3958vmax;
        left: -36px;
    }
    /* Inplay */
    .inplay-parent {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 70px !important;
    }
    /* .mini-games-grid {
        background-color: #172832;
    } */
    .tab {
        min-width: 98% !important;
        width: 98% !important;
        margin: 0 auto;
    }
    .tab>div {
        padding: 0 !important;
    }
    .headerInplay.tab button.MuiTab-textColorInherit.Mui-selected {
        border-right: 0;
    }
    .tab button.MuiTab-textColorInherit.Mui-selected {
        color: #172832;
        background: #ffffff;
    }
    .tab button.MuiTab-root {
        background: #172832;
        color: #ffffff;
    }
    .tab button {
        border-left: 1px solid #ffffff;
        padding: 8px 0;
    }
    .inplay-tabs table {
        border-bottom: 3px solid #000;
    }
    .xs-game-name {
        float: right;
    }
    .inplay-xs-title>img,
    .iplay-now-head>img {
        width: 3.33333vw;
        margin-right: 1.33333vw;
        vertical-align: middle;
        background-color: #1876B2;
        padding: 2px;
        border-radius: 4px;
    }
    a.inplay-last-icon {
        background-image: none !important;
        background-position: -398px -57px;
        height: 21px;
        width: 22px !important;
        display: block;
        margin: auto;
    }
    .inplay-xs-title>span,
    .iplay-now-head>span {
        font-size: 3.2vw;
        line-height: 1.1;
        vertical-align: middle;
    }
    .inplay-xs-title {
        font-size: 3.2vw;
    }
    #open-bets-table .table_first_row .text_left-in-play {
        display: inline-block;
    }
    .table_first_row .text_left-in-play {
        font-size: 4vw;
        display: flex;
        align-items: center;
        line-height: 1.6;
    }
    .inplay-now-xsblock>svg {
        margin-left: 12px;
    }
    .inplay-now-xsblock {
        font-size: 14px;
    }
    .inplay-now-xsblock a {
        color: #2789CE;
    }
    .inplay-tom-xsfooter {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .inplay-tom-xsfooter .inplay-last-icon {
        margin: 0 5px 0 0 !important;
    }
    .circle-size.circle-inplay {
        color: #6bbd11 !important;
    }
    .circle-size {
        color: #c5d0d8 !important;
        font-size: 15px !important;
        vertical-align: middle;
        margin-right: 1.33333vw;
    }
    .cricket-section .tbl-top-head {
        /* background-color: var(--darkblue); */
        background-image: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
        color: #fff;
        text-align: center;
        font-size: 3.73333vw;
    }
    .cricket-section .xs-padding {
        padding: 0px !important;
        display: block !important;
    }
    .tbl_body .table_first_row {
        padding: 1.6vw 0 1.86667vw 2.26667vw !important;
    }
    .cricket_tbl_body .tags {
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .cricket_tbl_body .tags>img {
        margin-right: 3px;
    }
    .cricket_tbl_body .tags>span {
        font-size: 3.2vw;
        vertical-align: super;
        color: #777;
    }
    .xs-multi-marketing {
        background: #FFFFFF;
        border: 1px solid #7E97A7;
        border-radius: 1.6vw;
        color: #7E97A7;
        font-size: 4.26667vw;
        margin: 5.33333vw 5.66667vw;
        padding: 2.66667vw 1.86667vw 5.33333vw;
    }
    .xs-multi-marketing>h3 {
        display: flex;
        background-image: none;
        font-size: 5.33333vw;
        color: #7E97A7;
        border-bottom: 1px solid #E0E6E6;
        margin-bottom: 1.33333vw;
        padding: 1.86667vw 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .xs-multi-marketing>p {
        text-align: center;
    }
    .xs-multi-marketing h3::before {
        content: '';
        width: 8.26667vw;
        height: 8.53333vw;
        background: url("../images/icon-nodata.svg") no-repeat;
        background-size: contain;
        margin-right: 1.33333vw;
    }
    .cricket-banner>img {
        height: 160px;
    }
    .special_bet .lg-none {
        display: table-cell !important;
        background: #3B5160;
    }
    .special_bet>.lg-none>a {
        vertical-align: middle;
    }
    .special_bet>.lg-none>span {
        font-size: 3.46667vw !important;
        vertical-align: middle;
    }
    .fullmarket_tbl_body .MuiTableCell-root {
        font-size: 3.46667vw;
    }
    .fullmarket_tbl_body .table_first_row {
        font-size: 12px;
        height: 32px;
    }
    .cricket-banner {
        border-top: 1px solid #000;
    }
    .back-block .back-box,
    .lay-block .lay-box {
        height: 28px;
        line-height: 28px;
    }
    .back-block,
    .lay-block {
        height: 28px;
        padding: 2px 0;
    }
    .back-block>span,
    .lay-block>span {
        width: 60px;
    }
    .back-block {
        background: #72BBEF;
    }
    .lay-block {
        background: #F0C0CB;
    }
    .tab-fancy button {
        padding: 4px 8px !important;
    }
    .tab-fancy .MuiTabs-centered {
        justify-content: start;
        background: #087989;
    }
    .tab-fancy button.MuiTab-root {
        background: #087989;
        color: #fff;
        font-size: 12px;
    }
    .tab-fancy button.MuiTab-root::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 5.33333vw;
        background-color: rgba(255, 255, 255, 0.4);
        transform: translate(-50%, -50%);
    }
    .table_first_row .text_left-in-ipl {
        font-size: 12px;
        padding-left: 8px;
    }
    .financial_tbl_body .odd_even_clr .MuiTableCell-root.MuiTableCell-alignCenter {
        width: 20%;
        font-size: 12px;
    }
    .cricket-fancy-head>span {
        padding: 4px 16px 4px 32px;
        position: relative;
    }
    .cricket-fancy-head .fancy-header-text>img {
        vertical-align: middle;
        width: 18px;
        padding: 5px 4px;
        position: absolute;
        left: 0;
        top: 0;
        background: #182832;
    }
    .cricket-fancy-head .fancy-header-text>span img {
        vertical-align: middle;
    }
    .financial_tbl_body td {
        font-size: 12px;
    }
    .multi-head .tbl_head {
        background: #172832;
    }
    .multi-head .tbl_head th {
        padding: 4px 2px !important;
        position: relative;
        border: 0;
    }
    .multi-head .tbl_head th span.ipl-header-text {
        vertical-align: middle;
        padding-left: 32px;
        color: #ffffff;
    }
    .multi-head .tbl_head th a {
        position: absolute;
    }
    .multi-head .tbl_head svg {
        font-size: 20px;
        padding: 0;
        vertical-align: middle;
        color: #ffffff;
    }
    .right-arrow {
        background: #3B5160;
        border-radius: 4px;
    }
    .match-block {
        margin-bottom: 16px;
        border-bottom: 2px solid #7E97A7;
    }
    .match-block-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--theme2-bg);
        padding: 6px;
        line-height: 1;
        color: #ffffff;
        font-size: 14px;
    }
    .match-block-header h5 {
        margin: 0;
        font-size: 14px;
    }
    .match-block-header span {
        padding-right: 4px;
    }
    .match-block-header span img {
        vertical-align: middle;
        border-radius: 5px;
    }
    .match-btn {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .match-btn span {
        width: 26.66667vw;
        display: inline-flex;
    }
    .match-btn span a {
        width: 26.66667vw;
        height: 7.46667vw;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 3.2vw;
        line-height: 7.46667vw;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: .2px;
    }
    .match-btn span a img {
        width: 8px !important;
        vertical-align: middle;
    }
    .match-btn span a svg {
        font-size: 16px;
        vertical-align: middle;
    }
    .match-btn .btn-pin {
        background-image: url('../images/match-odd-left.png');
    }
    .match-btn .btn-refresh {
        background-image: url('../images/match-odd-right.png');
    }
    /* Sport Tabs */
    .sport-xs-tab .MuiTabScrollButton-root.MuiTabs-scrollButtons {
        width: 2px !important;
        display: none;
    }
    .sport-xs-tab>header {
        background-image: linear-gradient(-180deg, #FFCC2E 0%, #FFB80C 71%);
        padding-top: 12px;
        width: 88%;
        float: left;
    }

    .sport-xs-tab .MuiTabs-root {
        min-height: unset !important;
    }
    .sport-xs-tab span.MuiTabs-indicator {
        display: none;
    }
    .sport-xs-tab header button {
        min-width: auto;
        width: max-content;
        min-height: unset;
        font-weight: bold;
        text-transform: unset;
        font-size: 16px;
        padding: 6px 8px 6px;
        color: #000;
    }
    .sport-xs-tab header button img {
        margin-right: 8px;
        margin-bottom: 0 !important;
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sport-xs-tab .MuiTab-wrapper {
        flex-direction: row !important;
        font-size: 12px;
        padding: 0;
    }
    .sport-xs-tab button.Mui-selected {
        background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
        color: #FFB80C;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .sport-xs-tab button.cricket-img img {
        background-image: url("../images/cricket-ball-black.svg");
    }
    .sport-xs-tab button.Mui-selected.cricket-img img {
        background-image: url("../images/cricket-ball.svg");
    }
    .sport-xs-tab header button img {
        margin-right: 4px;
        width: 18px;
        height: 18px;
    }
    .sport-xs-tab button.soccer-img img {
        background-image: url("../images/soccer-ball-black.svg");
    }
    .sport-xs-tab button.Mui-selected.soccer-img img {
        background-image: url("../images/soccer-ball.svg");
    }
    .sport-xs-tab button.tennis-img img {
        background-image: url("../images/tennis-ball-black.svg");
    }
    .sport-xs-tab button.Mui-selected.tennis-img img {
        background-image: url("../images/tennis-ball.svg");
    }
    .search-xs {
        min-width: 14% !important;
        width: 14% !important;
        float: right;
        min-height: 45px;
        background-image: linear-gradient(180deg, #525252 0%, #2D2D2D 100%);
        border-radius: 0 !important;
    }
    .search-xs svg {
        font-size: 26px;
        color: #ffffff;
    }
    .MuiPaper-elevation1 {
        box-shadow: none !important;
    }
    /* TENNIS SECTION */
    .tennis-section .tbl-top-head {
        background-color: var(--darkblue);
        color: #fff;
        text-align: center;
    }
    .tennis-section .xs-padding {
        padding: 0px !important;
        display: block !important;
    }
    .tennis_tbl_body,
    .soccer_tbl_body,
    .cricket_tbl_body {
        border-bottom: 2px solid #000;
    }
    .tennis_tbl_body .tags {
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .tennis_tbl_body .tags>img {
        margin-right: 3px;
    }
    .tennis_tbl_body .tags>span {
        font-size: 3.2vw;
        vertical-align: super;
        color: #777;
    }
    .tennis-banner>img {
        height: 160px;
    }
    /* SOCCER SECTION */
    .soccer-section .tbl-top-head {
        background-color: var(--darkblue);
        color: #fff;
        text-align: center;
    }
    .soccer-section .xs-padding {
        padding: 0px !important;
        display: block !important;
    }
    .soccer_tbl_body .tags {
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .soccer_tbl_body .tags>img {
        margin-right: 3px;
    }
    .soccer_tbl_body .tags>span {
        font-size: 3.2vw;
        vertical-align: super;
        color: #777;
    }
    .soccer-banner>img {
        height: 160px;
    }
    /* IPL SECTION */
    .ipl-xs-section {
        padding: 0px !important;
        margin: 0px !important;
        width: auto !important;
        font-size: 22.6px;
    }
    .ipl-header .pin-icon a {
        display: inline-block;
        width: 24px !important;
        background-position: -393px -77px;
    }
    .pin-toggle input {
        display: none;
    }
    .pin-toggle a.inplay-last-icon {
        width: 6.66667vw !important;
        height: 6.66667vw;
        background-image: url('../images/pin-off.svg') !important;
        background-position: unset;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .pin-toggle input:checked+a {
        background-image: url('../images/green-pin-off.svg') !important;
    }
    .bet-slip-bar p {
        font-size: 3.73333vw;
        font-weight: bold;
    }
    .bet-slip-bar>div {
        justify-content: center;
    }
    .ipl-header {
        padding: 10px !important;
    }
    .ipl-header .ipl-header-text {
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
    }
    .ipl-header .ipl-header-text small {
        display: block;
        line-height: 1;
        font-size: 7px;
        color: #7E97A7;
    }
    .ipl-section .ipl-tbl-head {
        background-color: #fff;
    }
    .ipl-tbl-head .ipl-middle-head {
        font-weight: bold;
    }
    .ipl-section .tbl_head th {
        padding: 8px 8px 3px !important;
    }
    .ipl-header .pin-icon {
        vertical-align: top;
    }
    .ipl-header .pin-icon img {
        width: 24px;
        margin-right: 6px;
    }
    .ipl_tbl_body .text_left-in-ipl {
        font-size: 13.52px !important;
        padding-left: 8px;
    }
    .xs-ipl-block>div {
        font-size: 12.52px !important;
    }
    .ipl_tbl_body .odd_even_clr .MuiTableCell-root.MuiTableCell-alignCenter.xs-ipl-block span {
        font-size: 11.52px !important;
        font-weight: normal;
    }
    .ipl_tbl_body .odd_even_clr .MuiTableCell-root.MuiTableCell-alignCenter {
        width: 19%;
        font-size: 20.52px !important;
    }
    .ipl_tbl_body .odd_even_clr .MuiTableCell-root.MuiTableCell-alignCenter span {
        margin-top: 2px;
        font-size: 16px !important;
    }
    .ipl-tbl-head th {
        padding: 8px 0 4px;
        position: relative;
    }
    .ipl-xs-head>a {
        position: absolute;
        z-index: 1;
        width: 9.4vw;
        height: 10.33333vw;
        background: #E0E6E6;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ipl-xs-head>a::after {
        position: absolute;
        left: 9.4vw;
        content: '';
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 11.33333vw solid transparent;
        border-left: 1.86667vw solid #E0E6E6;
    }
    .ipl-xs-head>div {
        padding-left: 12.26667vw;
        display: flex;
        align-items: center;
    }
    .ipl-xs-head>div img {
        vertical-align: middle;
    }
    .winner-th {
        background-color: #E0E6E6;
    }
    a.winner {
        color: #1E1E1E;
        background-image: linear-gradient( -180deg, #ccc 15%, #e8e8e8 100%);
        line-height: 9.06667vw;
        font-weight: bold;
        border: 1px solid #243A48;
        border-color: rgba(51, 51, 51, 0.3);
        border-radius: 4.8vw;
        padding: 2vw 2.4vw;
        font-size: 12px;
    }
    .matched-match {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
    }
    .matched-match>span {
        padding: 0;
        line-height: 1.1;
        color: #1E1E1E;
        font-weight: 600;
    }
    .balance-table,
    .statement-table,
    .statement-table {
        min-width: auto !important;
    }
    .balance-table .table_head th,
    .statement-table .table_head th,
    .statement-table .table_body td,
    .statement-table .table_body th {
        font-size: 8px;
        padding: 2px;
    }
    .betbarter-column .middle-bar,
    .bethive-column .middle-bar,
    .sky247-column .middle-bar {
        background: 0 0;
        margin-top: 0px;
    }
    .middle-bar {
        align-self: flex-start
    }
    .middle-bar-content {
        margin-bottom: auto;
        margin-top: 16px
    }
    .align-center,
    .align-start {
        justify-content: flex-end
    }
    .align-center .middle-bar-content,
    .align-start .middle-bar-content {
        align-self: flex-end
    }
    .text-align-left {
        justify-content: flex-end;
        right: 16px;
        bottom: 16px;
        left: auto
    }
    .text-align-center {
        justify-content: flex-end;
        bottom: 16px;
        right: 16px
    }
    .text-align-right {
        justify-content: flex-end;
        right: 16px;
        bottom: 16px
    }
    .btn {
        padding: 8px 24px;
        font-size: 1em
    }
    .announce-header h1 {
        font-size: 15px;
    }
    /* SAGA Modal */
    .saga-modal .MuiDialog-paperWidthSm {
        min-width: 90% !important;
    }
    .ranger-bar div.start,
    .ranger-bar div.max {
        width: 15%;
        font-size: 12px;
        line-height: 53px;
    }
    .ranger-bar div.range {
        width: 70%;
    }
    .saga-modal .awcTitle {
        font-size: 12px;
        display: flex;
    }
    #customized-dialog-title {
        padding: 6px 12px;
        background-image: linear-gradient(-180deg, #414141 0%, #000 100%);
        color: #FFB80C;
    }
    .close-saga {
        display: none;
    }
    .range-show .left-saga,
    .range-show .right-saga {
        padding: 6px 12px;
        font-size: 12px;
        color: #000000;
    }
    .range-show .left-saga p,
    .range-show .right-saga p {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
    }
    .range-parent {
        padding: 12px 0 12px 0 !important;
    }
    .ranger-bar {
        border-radius: 0;
    }
    /* Account Tab */
    .xs-account-tabs>div {
        width: 100%;
    }
    .xs-account-tabs button {
        min-width: 100%;
        min-height: unset;
        border-bottom: 1px solid #E0E6E6;
        font-weight: bold;
        text-transform: none;
        padding: 2px 12px;
        opacity: 1;
    }
    .xs-account-tabs button .MuiTab-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        color: #2789CE;
    }
    .xs-account-tabs button.MuiTab-labelIcon svg {
        color: #333;
        font-size: 16px;
        padding: 3px;
        border: 1px solid #E0E6E6;
        border-radius: 4px;
    }
    .xs-account-tabs .acc-logout {
        margin: 16px 0 !important;
        border-radius: 0;
        background-image: linear-gradient(-180deg, #E93522 0%, #BE2414 100%);
        border: 1px solid #8A0011;
        min-height: 48px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .set-popup .header {
        background-color: #222 !important;
        height: 45px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .popup-setting-body {
        padding-top: 13px;
    }
    .set-popup .header>div {
        position: relative;
        top: 0px;
    }
    .set-popup .xs-setting-popup div>img {
        background: url('../images/betcoin.svg') no-repeat;
        width: 5.33333vw;
        height: 5.5667vw;
        margin-right: 1.33333vw;
        vertical-align: middle;
        background-size: contain;
    }
    .set-popup .xs-setting-popup {
        color: #FFB80C;
        display: flex;
    }
    .set-popup .xs-setting-popup>div {
        height: 40px;
    }
    .set-popup .xs-setting-popup>div button {
        padding: 11px 6px;
        border-left: 1px solid #444;
        border-radius: 0;
    }
    .set-popup .xs-setting-popup>div button svg {
        font-size: 16px;
    }
    .set-popup .header-name svg {
        position: relative;
        top: 7px;
        padding-right: 5px;
    }
    .set-popup .header-name {
        color: #FFB80C;
        align-items: center;
        font-size: 4vw;
        font-weight: bold;
        line-height: 2.6;
        padding: 0 1.86667vw;
        align-items: center;
    }
    .bet-popup .header {
        background-color: #222 !important;
        height: 45px;
    }
    .bet-popup .header>div {
        position: relative;
        top: -8px;
    }
    .bet-popup .xs-bets-popup div>img {
        background: url('../images/betcoin.svg') no-repeat;
        width: 5.33333vw;
        height: 5.5667vw;
        margin-right: 1.33333vw;
        vertical-align: middle;
        background-size: contain;
    }
    .bet-popup .xs-bets-popup {
        color: #FFB80C;
        display: inline-block;
    }
    .bet-popup .xs-bets-popup>div {
        height: 40px;
        display: inline-block;
    }
    .bet-popup .xs-bets-popup>div:first-child {
        width: 90%;
        text-align: left;
    }
    .bet-popup .xs-bets-popup>div:last-child {
        text-align: right;
    }
    .bet-popup .xs-bets-popup>div button {
        padding: 11px 6px;
        border-left: 1px solid #444;
        border-radius: 0;
    }
    .bet-popup .xs-bets-popup>div button svg {
        font-size: 16px;
    }
    .bet-popup .header-name {
        color: #FFB80C;
        align-items: center;
        font-size: 4vw;
        font-weight: bold;
        line-height: 2.6;
        padding: 0 1.86667vw;
        align-items: center;
    }
    .popup-setting-body {
        top: 32px;
    }
    .popup-setting-body .header-set {
        background-image: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
        color: #fff;
        font-size: 3.73333vw;
        line-height: 2.2;
        padding: 0px 10px;
    }
    .popup-setting-body .setting-first-list {
        padding: 1.86667vw 0 0 1.86667vw;
    }
    .popup-setting-body .setting-first-list span {
        flex: 1;
        padding: 0 1.86667vw 1.86667vw 1.86667vw;
        align-items: center;
        font-size: 13px;
        font-weight: normal;
    }
    .popup-setting-body .userCoin {
        width: 26.66667vw;
        margin: 0 0 0 1.33333vw;
        text-align: right;
        position: relative;
        background: #fff;
        border: 1px solid #aaa;
        box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 10%);
        border-radius: 1.6vw;
        color: #1E1E1E;
        font-size: 4vw;
        font-family: Helvetica, Tahoma, sans-serif;
        padding: 2.66667vw 1.86667vw;
        margin-bottom: 1.86667vw;
        -webkit-appearance: none;
    }
    .popup-setting-body .setting-stack input {
        display: none;
        width: 80%;
        margin: auto;
        padding-top: 12px;
        border-radius: 6px;
        padding-bottom: 12px;
        box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 10%);
        border: 1px solid;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 4vw;
        text-align: center;
        color: #1e1e1e;
    }
    .popup-setting-body .setting-stack input:nth-child(4), .popup-setting-body .setting-stack input:nth-child(8) {
        margin-right: 0;
    }
    .stake-custom-edit input {
        display: block !important;   
    }
    .popup-setting-body .setting-stack input:checked+a {
        background: #444 !important;
        border-color: #000 !important;
        color: #FFB80C !important;
    }
    .popup-setting-body .setting-stack a {
        padding: 8px 0px;
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #EEEEEE 89%);
        border: 1px solid #aaa;
        border-radius: 1.6vw;
        font-size: 4vw;
        font-weight: bold;
        color: #1E1E1E;
    }
    .popup-setting-body .stake-custom-edit .col-stake_edit {
        width: 100%;
    }
    .popup-setting-body .stake-custom-edit a {
        padding: 8px 0px;
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #EEEEEE 89%);
        border: 1px solid #aaa;
        border-radius: 1.6vw;
        font-size: 4vw;
        font-weight: bold;
        color: #1E1E1E;
        width: 100%;
    }    
    .popup-setting-body .setting-stack a.selectss {
        background: #444 !important;
        border-color: #000 !important;
        color: #FFB80C !important;
    }
    .popup-setting-body .edit-settings {
        width: 100%;
        line-height: 2.6;
        font-weight: bold;
        padding: 0px !important;
        color: #243A48 !important;
        background: rgba(197, 208, 215, 0.4) !important;
        border: 0.26667vw solid #7E97A7 !important;
        box-shadow: inset 0 0.53333vw 0 0 rgb(255 255 255 / 80%) !important;
        border-radius: 1.6vw !important;
    }
    .popup-setting-body .setting-button span {
        padding: 10px;
        font-size: 13px;
    }
    .popup-setting-body .setting-button .MuiTouchRipple-root {
        border: 1px solid #aaa;
        border-radius: 1.6vw;
    }
    .bet-body-popup {
        margin-top: 35px !important;
    }
    .bet-body-popup link td {
        padding: 7px !important;
    }
    .arrow-icon a.inplay-last-icon {
        background-image: url("../images/left-s1873922290.png") !important;
        background-position: 59% -2379px;
        height: 21px;
        width: 16px !important;
        display: block;
        margin: auto;
    }
    /* Bet Slip */
    .xs-bet-slip {
        background-color: #DCEAF4;
        padding-top: 2.66667vw !important;
        border-bottom: 1px solid #7e97a7 !important;
    }
    .bet-list {
        padding: 0 1.6vw 2.66667vw;
        display: flex;
    }
    .bet-list>div {
        width: 100%;
        margin: 1.6vw 0.8vw 0 0.8vw;
        display: flex;
        flex-direction: column;
    }
    .bet-list .typed {
        color: #999;
        background-color: #dcdcdc;
        width: 100%;
        box-shadow: none;
        border: 1px solid #bbb;
        font-size: 4vw;
        border-radius: 1.6vw;
    }
    .bet-list p {
        font-size: 2.93333vw;
        text-align: center;
    }
    .input-num>div {
        border: 1px solid #aaa;
        border-radius: 1.6vw;
        display: flex;
    }
    .input-num>div a {
        height: 10.93333vw;
        line-height: 10.93333vw;
        width: 12vw;
        background-image: linear-gradient(-180deg, #fff 0%, #eee 89%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-num>div span {
        display: flex;
        color: #1e1e1e;
        background-color: #fff0ca;
        box-shadow: inset 0 0.26667vw 1.33333vw rgb(161 128 45 / 60%);
        border-color: #be7809;
        width: 50%;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-weight: bold;
    }
    .input-num>div a svg {
        font-weight: bold;
        font-size: 28px;
        color: #1f72ac;
    }
    .coin-list {
        margin-bottom: 1.86667vw;
        background-image: linear-gradient(-180deg, #32617F 20%, #1F4258 91%);
        display: flex;
    }
    .coin-list a {
        width: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        line-height: 2.46;
        background-image: linear-gradient(-180deg, #32617F 20%, #1F4258 91%);
        color: #fff;
        text-align: center;
        font-size: 3.46667vw;
    }
    .keyboard-wrap {
        display: flex;
        border-top: 1px solid #aaa;
        margin-bottom: 1.86667vw;
    }
    .keyboard-wrap .btn-tel {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
    .keyboard-wrap .btn-tel a {
        display: flex;
        flex: 1 1 15.66667%;
        font-size: 4vw;
        color: #1e1e1e;
        line-height: 10.4vw;
        background-color: #fff;
        border: 1px solid #aaa;
        border-width: 0 0 1px 1px;
        align-items: center;
        justify-content: center;
    }
    .keyboard-wrap>a {
        display: flex;
        flex: 0 1 14.66667vw;
        color: #1e1e1e;
        line-height: 10.4vw;
        background-color: #fff;
        border: 1px solid #aaa;
        border-width: 0 0 1px 1px;
        align-items: center;
        justify-content: center;
    }
    .btn-list {
        padding: 0 1.6vw 2.66667vw;
        display: flex;
        flex-wrap: wrap;
    }
    .btn-list a {
        flex: 1;
        margin: 1.6vw 0.8vw 0 0.8vw;
        height: 10.93333vw;
        line-height: 10.93333vw;
        background-image: linear-gradient( -180deg, #fff 0%, #eee 89%);
        border: 1px solid #aaa;
        border-radius: 1.6vw;
        font-size: 4vw;
        font-weight: bold;
        line-height: 2.6;
        color: #1e1e1e;
        text-align: center;
    }
    .btn-list a.placebtn {
        background-image: linear-gradient( -180deg, #464646 15%, #121212 100%);
        border-color: #000;
        color: #ffb80c;
    }
    .acceptodds {
        padding: 0 1.86667vw;
        background: #C7DBE9;
        height: 8.53333vw;
        display: flex;
        align-items: center;
        font-size: 3.46667vw;
    }
    .acceptodds label {
        width: 100%;
    }
    .acceptodds a {
        display: flex;
        width: 100%;
        height: 8.53333vw;
        align-items: center;
        font-size: 3.46667vw;
        color: #1e1e1e;
        margin-right: 1.86667vw;
    }
    .MuiTabs-flexContainer {
        padding-top: 0px;
    }
    .sport-xs-tab button.Mui-selected,
    .sport-xs-tab header button {
        overflow: visible;
    }
    .sport-xs-tab>header {
        padding-top: 7px;
    }
    .acceptodds input {
        display: none;
    }
    .acceptodds a:before {
        width: 4.8vw;
        height: 4.8vw;
        background-color: #fff;
        box-shadow: inset 0 0.53333vw 0 0 rgb(0 0 0 / 40%);
        border-radius: 1.06667vw;
        margin-right: 1.86667vw;
        content: "";
    }
    .acceptodds input:checked+a:before {
        background: #FFB867 url('../images/checkef.svg') !important;
        background-size: 2.93333vw 2.93333vw !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .tab-sportsname header button {
        overflow: visible;
        padding: 8px 0px;
        /* padding-bottom: 8px; */
        margin-right: 2%;
    }
    .tab-sportsname header button {
        width: 31%;
    }
    .tab-sportsname header button:nth-child(2) {
        width: 33%;
    }
    .tab-sportsname button.search-xs {
        top: 4px;
        min-width: 12% !important;
        width: 10% !important;
    }
    /* Sports Page */
    .cricket_tbl_body .text_left-in-play, .soccer_tbl_body .text_left-in-play, .tennis_tbl_body .text_left-in-play {
        padding-bottom: 6px;
    }
    .cricket_tbl_body .inplay-xs-title, .soccer_tbl_body .inplay-xs-title, .tennis_tbl_body .inplay-xs-title {
        padding-top: 5px;
    }
    .bets-bookmaker {
        display: block;
    }
    /* Cricket Page BoorkMarker */
    .bets-bookmaker .bets-selections-head {
        height: 5.86667vw;
        line-height: 5.86667vw;
        display: flex;
    }
    .bets-selections-head {
        min-height: auto;
        line-height: 1.1;
    }
    .bets-selections, .bets-selections-head, .trade, .trade-2 {
        position: relative;
        min-height: 11.2vw;
        border-bottom: 1px solid #7e97a7;
    }
    .bets-bookmaker .bets-selections-head dt {
        padding: 0 1.86667vw;
    }
    .bets-bookmaker .bets-selections-head dd {
        border-right: none;
    }
    .bets-bookmaker .bets-selections-head dd {
        padding: 0;
    }
    .bets-selections .mode-land, .bets-selections-head .mode-land, .trade .mode-land, .trade-2 .mode-land {
        display: none;
    }
    .bets-selections-head dd {
        width: 18.66667vw;
        font-weight: bold;
        padding: 1.86667vw 1.86667vw 0.8vw;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        display: flex;
    }
    /* Cricket Page BoorkMarker End */
}

@media all and (max-width:1200px) {
    /* SIGNUP */
    .betbarter-column {
        background-image: url(../images/betbarter-background-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left
    }
    .bethive-column {
        background-image: url(../images/bethive_background-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .sky247-column {
        background-image: url(../images/sky247_background-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
    }
    .brand-column {
        width: calc(100% / 1);
        height: calc(100vh / 3);
        background-color: gray;
        /* display: flex; */
        flex-wrap: wrap;
        position: relative;
    }
    .brand-column>div {
        margin-top: calc(100vh/2);
    }
    .characters {
        display: none;
    }
    .align-center .middle-bar-content,
    .align-end .middle-bar-content,
    .align-start .middle-bar-content {
        padding: 0 16px 16px 0;
        align-items: flex-end;
    }
    .text-align-center .inner-text,
    .text-align-left .inner-text {
        text-align: right
    }
    .btn-bethive {
        color: #000;
        background-color: #fff;
        text-shadow: none
    }
    .btn-betbarter {
        color: #000;
        background-color: #fff;
        text-shadow: none
    }
    .btn-sky247 {
        color: #fff;
        background-color: #000;
        text-shadow: none
    }
    .inner-text .big-text {
        font-size: 1.2em;
        margin: 0
    }
    .inner-text .small-text {
        margin: 0;
        font-size: 1.2em;
    }
    
}

.lcolor {
    background-color: #F2E5E8 !important;
}

.bcolor {
    background-color: #dceaf4 !important;
}

.l-dark-color {
    background-color: #EBD5DB !important;
}

.b-dark-color {
    background-color: #C7DBE9 !important;
}

.going-inplay-cricle {
    color: grey !important;
    font-size: 15px !important;
    vertical-align: middle;
    margin-right: 1.33333vw;
}

.game-fancy img {
    background-color: #0A92A5 !important;
}

@media screen and (min-width:320px) and (max-width: 476px) {
        /* Sports Block */
        .dashboard .sport-blocks .MuiGrid-root.prx-4.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-3 {
            width: 48%;
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
        }
        .sport-blocks .sport-block {
            max-height: 160px;
            overflow: hidden;
            height: 118px;
        }
        .sport-blocks .sport-block img {
            object-fit: cover;
        }
        .sport-block .bottom-title .title {
            font-size: 3.73333vw;
        }    
        .login-cont .form-login-all {
            width: 100%;
        }
        .login-inner-section {
            margin-top: auto !important;
            margin-bottom: auto !important;
        }
        .form-cont-single .formstyletext {
            border: 0 !important;
            border-bottom: 1px solid var(--theme2-bg) !important;
            border-radius: 0;
        }
        button.blinking span {
            animation: none;
        }
        button.blinking span i {
            animation: none;
        }
        /* Sports Block End */    
    
    }
@media screen and (max-width: 600px) and (min-width: 481px) {
    .login-index .MuiButton-label {
        width: auto;
        font-size: 16px;
    }
    .btn-signup span.MuiButton-label {
        font-size: 16px;
    }
    .dashboard .sport-blocks .MuiGrid-root.prx-4.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-3 {
        min-height: 140px;
    }    
}
@media screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .login-index .MuiButton-label {
        width: auto;
        font-size: 14px;
    }
    .btn-signup span.MuiButton-label {
        font-size: 14px;
    }

}
@media screen and (device-width: 481px) and (device-height: 568px) and (orientation: portrait) {
    .login-index .MuiButton-label {
        width: auto;
        font-size: 14px !important;
    }
    .btn-signup span.MuiButton-label {
        font-size: 14px !important;
    }
}
@media screen and (device-width: 569px) and (device-height: 768px) and (orientation: portrait) {
    .login-index .MuiButton-label {
        width: auto;
        font-size: 20px !important;
    }
    .btn-signup span.MuiButton-label {
        font-size: 20px !important;
    }
}
@media screen and (max-width: 480px) and (min-width: 400px) {
    .sport-block .bottom-title .play-now {
        width: 15.13333vw;
        line-height: 7.46667vw;
        font-size: 2.93333vw;
        height: 6.4vw;
        text-indent: -1.56667vw;
    }
    .sport-block .bottom-title .play-now {
        /* width: 15.1949vmax;
        line-height: 6.1979vmax;
        font-size: 2.64918vmax;
        height: 6.4955vmax;
        text-indent: 2.09895vmax; */
        width: 17.13333vw;
        line-height: 7.46667vw;
        font-size: 2.93333vw;
        height: 6.544vw;
        text-indent: 1.43333vw;
    }
    .sport-block .bottom-title .play-now::before {
        height: 6.4955vw;
        width: 6.3958vw;
        left: -20px;
    }
    .sport-block .bottom-title .title {
        font-size: 3.73333vw;
    }
}
@media screen and (min-width: 1350px) {
    #root header > div {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    min-width: 1350px;
    width: 100%;
    }
}
@media screen and (min-width: 990px) {
    #root header > div {
        padding-left: 0;
        padding-right: 0;
    }

    div.navbar.onlynavbar {
        margin-bottom: 0;
    }
    .navbar .nav-right>span.MuiTypography-root {
        padding: 6px 4px;
        line-height: 22px;
        position: relative;
        padding-bottom: 4px;
    }
    .logged-out header > a {
        vertical-align: text-top;
    }
    .header>header {
        padding-bottom: 0;
    }
    .header > header .MuiToolbar-gutters .makeStyles-search-9 {
        margin-left: 15px;
        top: -8px;
    }
    .header > header .MuiToolbar-gutters .makeStyles-search-9 input {
        font-size: 12px;
    }
    .navbar>header {
        box-shadow: none;
    }
    svg.MuiSvgIcon-root.theme-yellow.xs-none {
        width: 20px;
    }
    .onlynavbar .dark-menu {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
    .dashboard .sport-blocks .MuiGrid-grid-md-6 .sport-block {
        height: 185px;
        overflow: hidden;
    }
    .sport-blocks .sport-block .bottom-title .play-now {
        z-index: 90999999999;
    }
    .sport-blocks .sport-block .bottom-title .play-now::before {
        z-index: -1;
        left: -48px;
    }
    .sport-blocks .sport-block .bottom-title .play-now {
        width: 73px;
        text-indent: 0;
    }
    .dashboard .sport-blocks .MuiGrid-grid-md-3 .sport-block {
        height: 185px;
        overflow: hidden;
    }
    .sport-blocks .sport-block .bottom-title .title {
        font-size: 17px;
    }
}

@media screen and (min-width: 700px) {
    .header.logged-out button.MuiButtonBase-root {
        font-size: 12px;
    }
    .sport-block .bottom-title .play-now {
        
        width: 80px;
        line-height: 30px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        text-indent: 15px;
        font-size: 12px;
        font-weight: bold;
        color: #000 !important;
    }
    .sport-block .bottom-title .play-now::before {
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: 0;
        width: 64px;
        height: 100%;
        content: "";
        left: -50px;
    }
}
@media screen and (max-width: 400px) and (min-width: 320px) {
    .sport-block .bottom-title .title {
        font-size: 3.73333vw;

    }
    .sport-block .bottom-title .play-now::before {
        width: 12.3958vw;
        left: -35px;
        height: 6.4vw;
    }
    .tab-sportsname header button span {
        font-size: 11px !important;
    }

}
@media screen and (max-width: 600px) and (min-width: 400px) {
    .sport-blocks .MuiGrid-grid-xs-12 .sport-block {
        height: 100%;
    }
}
@media screen and (max-width: 600px) and (min-width: 477px) {
    .sport-blocks .sport-block {
        max-height: 160px;
        overflow: hidden;
        height: 150px;
    }
    .sport-block .bottom-title .play-now::before {
        height: 6.5988vw;
        left: -29px;
    }
    .sport-block .bottom-title .title {
        font-size: 3.73333vw;
    }
}
@media screen and (max-width: 400px) and (min-width: 370px) {
    .sport-block .bottom-title .play-now::before {
        left: -40px;
        height: 6.45vw;
    }
}

/* @media screen and (max-width: 768px) and (min-width: 320px) {
    .nav-tabs{
        background:black;
        height: auto;
        border:none;
        overflow:auto;
    }
    .nav-tabs{
        padding: 0px;
        margin:0px;
        border-radius: 0px;
    }
    .tab .nav-link {
        color:#fff;
        padding:17px 10px;
        
        background-color:rgb(83, 81, 81);
    }
    

} */
@media screen and (orientation: portrait){
    .bookmaker-market .box-4 {
        width: 41%;
        min-width: 41%;
        max-width: 41%;
    }
}
@media screen and (orientation: portrait){
.bookmaker-market .box-1 {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}
}


@media screen and (orientation: portrait){
.bookmaker-market .box-6 {
    width: 61%;
    min-width: 61%;
    max-width: 61%;
}
}

@media screen and (orientation: landscape){
.fancy-market .box-4 {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}
}
@media screen and (orientation: landscape){
.fancy-market .box-1 {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}
}
@media (min-width: 768px){
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 768px){
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 768px){
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}
@media (min-width: 768px){
.navbar-expand-md .navbar-toggler {
    display: none;
}
}
@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
}
@media (min-width: 768px) {
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
}
@media (min-width: 768px){
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 85.333333%;
    max-width: 83.333333%;
}
}
@media (max-width: 600px) and (min-width: 200px){
.btn {
    padding: 7px 24px;
    font-size: 1.2rem;
    font-weight: 400;
}
}
