.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
   url("./skyexchange/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
